<h1>ADMIN DASHBOARD</h1>
<a href="/">Return to Home</a>
<hr />
<a href="/message">Post a message!</a>
<% messages.forEach(message => { %>
<h2><%= message.user_name %></h2>
<p><%= message.message %></p>
<form action="/admin" method="post">
  <button type="submit">Delete</button>
</form>
<% }); %>
