<h1>DASHBOARD</h1>
<a href="/">Return to Home</a>
<hr />
<h2>Join our Club!</h2>
<form action="/dashboard" method="post">
  <label for="password">Introduce the password: </label>
  <input type="password" name="password" id="password" />
  <button type="submit">Join Club</button>
</form>
<hr />
<% messages.forEach(message => { %>
<h2>Anonymous</h2>
<p><%= message.message %></p>
<% }); %>
