<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>HOME</h1>
    <a href="/login" style="margin-right: 1rem">Log in!</a>

    <a href="/register" style="margin-right: 1rem">Register!</a>

    <a href="/logout">Log out!</a>
  </body>
</html>
